
.artist-card{
    height: 250px;
    .artist-img{
        object-position: center;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .artist-description{
        // max-height: 50%;
        overflow: auto;
        padding: 0 20px;
    }
    .artist-description::-webkit-scrollbar {
        display: none;
    }
}

.guest-artist-card {
    height: 160px;
    .artist-img{
        object-position: center;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .artist-description{
        // max-height: 50%;
        overflow: auto;
        padding: 0 20px;
    }
    .artist-description::-webkit-scrollbar {
        display: none;
    }
}
